@{
    int cade = -1;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardapioV2</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    @model CárdapioV3_Tunado.Models.ListCategoriaProduto
</head>
<body>

    <div class="box">




        <td valign="top">
            <table width="360" cellspacing="5" cellpadding="0">

                <tbody>
                    <tr>

                        <td valign="top" align="center"><img src="@Model.Lista1.First().FotoEmpresa" width="210" height="140" border="0"></td>

                    </tr>
                </tbody>
            </table>

            <table width="300" border="0" align="center" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="center" class="estilo_pp" height="44"><p>Nunca Foi Tão Facil <span class="destaque1">Pedir Lanche</span>!</p></td>
                    </tr>
                </tbody>
            </table>
            <br />
            @foreach (var item in Model.Lista2.GroupBy(x => x.CategoriaID).Select(y => y.First()))
            {
                <div class="categoria" id="cat@item.CategoriaProduto">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="@item.CategoriaFoto" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b>@item.Nome</b></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_descricao">@item.CategoriaDescricao</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="produtos" id="produtoscat@item.CategoriaProduto">
                    @foreach (var itemProduto in Model.Lista1.Where(z => z.CategoriaID == @item.CategoriaID).ToList())
                    {
                        cade++;
                        string qtd = "quantidade";
                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;" id="nome-produto-@itemProduto.ProID"><b>@itemProduto.NomeProduto</b> R$<b id="preco-produto-@itemProduto.ProID">@itemProduto.PrecoProduto</b></td>


                                </tr>
                            </tbody>
                        </table>

                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo">@itemProduto.DescricaoProduto</td>
                                </tr>
                            </tbody>
                        </table>


                <td>
                    <button class="btn-confirmar-pedido" onclick="ocultarTabela(); exibirProdutoSelecionado(@itemProduto.ProID, @cade);">Confirmar Pedido 👌</button>


                    <div style="margin-left: 100px; margin-top: -30px;">
                        <select id="@qtd@cade" size="1">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                        </select>
                    </div>

                </td>
                <br>
                <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>
                    }


        </div>

        <div id="FinalizarPedido" style="display: none;">

            <div class="linha"></div>


            <div>
                <label class="nome" for="exampleFormControlInput1">Nome:</label>
                <input type="nome" class="form-controlNome" id="InputNome" placeholder="José Oliveira">
            </div>

            <div>
                <label class="Endereco" for="exampleFormControlInput1">Endereço :</label>
                <input type="Endereco" class="form-controlEndereco" id="InputEndereco" placeholder="R. Antônio C. Carvalho">
            </div>

            <div>
                <label class="NTelefone" for="exampleFormControlInput1">Numero de telefone:</label>
                <input type="NTelefone" class="form-controlTelefone" id="InputNTelefone" placeholder="79 9 9854-9746">
            </div>




            <h2 class="resumo">Resumo do pedido</h2>


            <div class="retangulo" id="produto-selecionado">
            </div>


            <textarea id="observacao" style="width:100%" rows="2" name="obs" cols="30" class="estilo_novo_form" onfocus="if (this.value=='') this.value='';" onblur="if (this.value=='') this.value=''" placeholder="Observação:"></textarea>

            <h2 class="pagamento">Formas de pagamento:</h2>

            <form class="quadradinho" style="margin-left: 100px; margin-top: -30px;">
                <select id="FormaDePagamento" class="pagamento" size="1">
                    <option value="01">Dinheiro</option>
                    <option value="02">Cartão</option>
                    <option value="03">Pix</option>
                </select>
            </form>

            <div class="linha3"></div>
            <button class="btn-FinalizarPedido" onclick="varrer()">Finalizar Pedido</button>

            <button id="btn-adicionar-item" class="btn-AdicionarPedido">Adicionar item</button>





        </div>

        <button id="btn-voltar" onclick="btnVoltarF()">Voltar 👈</button>
            }
    </div>

    </div>


    <script>

        window.addEventListener("DOMContentLoaded", () => {
            $("#btn-voltar").hide()
        })

        var categorias = document.getElementsByClassName("categoria");
        var produtos = document.getElementsByClassName("produtos");
        var btnVoltar = document.getElementById("btn-voltar");
        var tabelaPedidos = document.getElementById("tabela-pedidos");
        var telaFinalizarPedido = document.getElementById("FinalizarPedido");


        function mostrarBotaoVoltar() {
            $("#btn-voltar").show()
        }

        for (var i = 0; i < categorias.length; i++) {
            categorias[i].addEventListener("click", function () {
                ocultarCategorias();
                mostrarProdutos(this.nextElementSibling);
                mostrarBotaoVoltar();
            });
        }

        function btnVoltarF() {
            mostrarCategorias();
            ocultarProdutos();
            ocultarBotaoVoltar();
        };

        function mostrarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "block";
            }
        }

        function ocultarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "none";
            }
        }

        function ocultarProdutos() {
            for (var i = 0; i < produtos.length; i++) {
                produtos[i].style.display = "none";
            }
        }

        function mostrarProdutos(produtosCategoria) {
            produtosCategoria.style.display = "block";
        }



        function ocultarTabela() {
            document.getElementById("FinalizarPedido").style.display = "block";
            document.getElementById("TabelaPedido").style.display = "none";
        }



        function ocultarBotaoVoltar() {
            btnVoltar.style.display = "none";
            telaFinalizarPedido.style.display = "none";
        }

        function ocultarTabela() {
            var tabelaProdutos = document.querySelector(".produtos");
            tabelaProdutos.style.display = "none";
        }

        function ocultarTabela() {

            $(".produtos").hide();


            $("#FinalizarPedido").show();
        }

        /*------------------------*/

        function exibirProdutoSelecionado(idProduto, id) {
            var nomeProduto = document.getElementById("nome-produto-" + idProduto)?.textContent;
            var precoProduto = parseFloat(document.getElementById("preco-produto-" + idProduto)?.textContent.replace(',', '.'));
            var precoAnterior = 0;
            var index = carrinho.findIndex(item => item.proID === idProduto);
            if (index !== -1) {
                precoAnterior = carrinho[index].precoProduto;
            }

            var quantidade = $("#quantidade" + id + " option:selected").val();
            adicionarAoCarrinho(idProduto, precoProduto, nomeProduto, precoAnterior, quantidade);

            var produtoSelecionado = document.getElementById("produto-selecionado");
            var html = "";
            for (var i = 0; i < carrinho.length; i++) {
                console.log(carrinho[i].precoProduto);
                var item = carrinho[i];
                html += "<div id='" + "produto-" + i + "' class='ScroolBAr '>" + item.nomeProduto +
                    " x " + item.quantidade + " = R$" + (parseFloat(item.precoProduto) * parseFloat(item.quantidade)).toFixed(2) +
                    "<button onclick='event.preventDefault(); deleteDiv(" + i + "); removerItemDoCarrinho();'>X</button></div>";
            }

            produtoSelecionado.innerHTML = "Produtos selecionados: " + html;

            // Adicionar a classe ScroolBAr apenas quando houver mais de 4 itens
            if (carrinho.length > 4) {
                produtoSelecionado.classList.add("ScroolBAr");
            } else {
                produtoSelecionado.classList.remove("ScroolBAr");
            }
        }

        function deleteDiv(id) {
            var divpequena = document.getElementById("produto-" + id).remove();
        }

        function removerItemDoCarrinho(index) {
            carrinho.splice(index, 1);
            salvarNoLocalStorage("carrinho", carrinho);
        }

        var btnAdicionarItem = document.getElementById("btn-adicionar-item");

        btnAdicionarItem.addEventListener("click", function () {
            document.getElementById("FinalizarPedido").style.display = "none";
            document.getElementById("produtoscat@item.CategoriaProduto").style.display = "block";
        });

        var carrinho = [];

        function salvarNoLocalStorage(nome, valor) {
            localStorage.setItem(nome, JSON.stringify(valor));
        }

        function lerDoLocalStorage(nome) {
            return JSON.parse(localStorage.getItem(nome));
        }


        function allStorage() {

            var values = [],
                keys = Object.keys(localStorage),
                i = keys.length;

            while (i--) {
                values.push(localStorage.getItem(keys[i]));
            }

            return values;
        }


        function varrer(nome, valor) {
            carrinho = JSON.parse(allStorage()[1])
            var string = "";
            var nome = $("#InputNome").val()
            var endereco = $("#InputEndereco").val()
            var telefone = $("#InputNTelefone").val()
            var observacao = $("#observacao").val()
            var html = "";
            for (var i = 0; i < carrinho.length; i++) {
                console.log(carrinho[i].precoProduto)
                var item = carrinho[i];
                html += item.nomeProduto +
                    " x " + item.quantidade + " = R$" + (parseFloat(item.precoProduto) * parseFloat(item.quantidade)).toFixed(2) + "\n";
            }


            var e = $("#FormaDePagamento option:selected").text();

            for (var i = 0; i < carrinho.length; i++) {
                var carrinho = JSON.parse(allStorage()[1])
                string += "\n" + carrinho[i]["nomeProduto"]
            }

            var numero = "@Model.Lista1.First().Telefone"
            var preco = 0.00
            for (var i = 0; i < carrinho.length; i++) {
                var item = carrinho[i];
                preco += parseFloat(carrinho[i].precoProduto) * parseFloat(carrinho[i].quantidade)
            }


            var taxa = parseFloat("@Model.Lista1.First().Taxa")
            var novopreco = parseFloat(preco)
            var resultado = taxa + novopreco

            var mensagem = "👥 CLIENTE \nNome:  " + nome + " \n" +
                "Endereço:  " + endereco + " \n" +
                "Telefone:  " + telefone + "  \n" +
                " \n📝 RESUMO DO PEDIDO \n" +
                "Produto: " + "\n" + html +
                "\nObservação: " + observacao + "\n" +
                " \n💵 DADOS DE PAGAMENTO " + "\n" +
                "Forma de pagamento:" + "" + e + "\n" +
                "Preço do produto(s) R$" + parseFloat(preco).toFixed(2) + "\n" +
                "Taxa de entrega: @Model.Lista1.First().Taxa" + "\n" +
                "Valor total R$: " + resultado.toFixed(2)



            var link = "https://api.whatsapp.com/send?phone=" + numero + "&text=" + encodeURIComponent(mensagem);
            window.open(link, "_blank");
        }


        //não mexi no banco

        function adicionarAoCarrinho(proID, precoProduto, nomeProduto, precoAnterior, quantidade) {
            var item = {
                proID: proID,
                precoProduto: precoProduto,
                nomeProduto: nomeProduto,
                precoAnterior: precoAnterior,
                quantidade: quantidade
            };
            carrinho.push(item);
            salvarNoLocalStorage("carrinho", carrinho);
        }
    </script>

</body>
</html>
