<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardapioV2</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    @model CárdapioV3_Tunado.Models.ListCategoriaProduto
</head>
<body>

    <style>
        .produtos {
            display: none;
        }
    </style>


    <div class="box">




        <td valign="top">
            <table width="360" cellspacing="5" cellpadding="0">

                <tbody>
                    <tr>
                        <td valign="top" class="estilo_data"><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/testing-logo-design-template-ce84480d61b3db9a8e1522a99875832f_screen.jpg?ts=1615794516" width="210" height="140" border="0"></td>

                    </tr>
                </tbody>
            </table>

            <table width="300" border="0" align="center" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="center" class="estilo_pp" height="44"><p>Nunca Foi Tão Facil <span class="destaque1">Pedir Lanche</span>!</p></td>
                    </tr>
                </tbody>
            </table>
            <br />
            @foreach (var item in Model.Lista1.GroupBy(x => x.CategoriaID).Select(y => y.First()))
            {
                <div class="categoria" id="cat@item.CategoriaProduto">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="@item.CategoriaFoto" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b>@item.Nome</b></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_descricao">@item.CategoriaDescricao</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="produtos" id="produtoscat@item.CategoriaProduto">
                    @foreach (var itemProduto in Model.Lista2.Where(z => z.CategoriaProduto == @item.CategoriaID).ToList())
                    {
                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;" id="nome-produto-@itemProduto.ProID"><b>@itemProduto.NomeProduto</b> R$<b id="preco-produto-@itemProduto.ProID">@itemProduto.PrecoProduto</b></td>


                                </tr>
                            </tbody>
                        </table>

                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo">@itemProduto.DescricaoProduto</td>
                                </tr>
                            </tbody>
                        </table>
                <td>
                    <button class="btn-confirmar-pedido" onclick="ocultarTabela(); exibirProdutoSelecionado(@itemProduto.ProID); produtoSelecionado">Confirmar Pedido 👌</button>




                    <form style="margin-left: 100px; margin-top: -30px;">
                        <select id="quantidade" size="1">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                        </select>

                    </form>
                </td>
                <br>
                <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>



                    }

        </div>

        <div id="FinalizarPedido" style="display: none;">

            <div class="linha"></div>


            <div>
                <label class="nome" for="exampleFormControlInput1">Nome:</label>
                <input  type="nome" class="form-controlNome" id="exampleFormControlInput1" placeholder="José Oliveira">
            </div>

            <div>
                <label class="Endereco" for="exampleFormControlInput1">Endereço:</label>
                <input  type="Endereco" class="form-controlEndereco" id="exampleFormControlInput1" placeholder="R. Antônio C. Carvalho">
            </div>

            <div>
                <label class="NTelefone" for="exampleFormControlInput1">Numero de telefone:</label>
                <input  type="NTelefone" class="form-controlTelefone" id="exampleFormControlInput1" placeholder="79 9 9854-9746">
            </div>




            <h2 class="resumo">Resumo do pedido</h2>


            <div class="retangulo" id="produto-selecionado" exibirProdutosDoCarrinho() >

                <div id="carrinho" exibirProdutosDoCarrinho()>

                </div>
                

            </div>

            <textarea style="width:100%" rows="2" name="obs" cols="30" class="estilo_novo_form" onfocus="if (this.value=='Alguma Observação? Ex.: Sem salada') this.value='';" onblur="if (this.value=='') this.value='Alguma Observação? Ex.: Sem salada'">Alguma Observação? Ex.: Sem salada</textarea>


            <h2 class="pagamento">Formas de pagamento:</h2>

            <form class="quadradinho" style="margin-left: 100px; margin-top: -30px;">
                <select class="pagamento" size="1">
                    <option value="01">Dinheiro</option>
                    <option value="02">Cartão</option>
                    <option value="03">Pix</option>
                </select>
            </form>

            <div class="linha3"></div>
            <button class="btn-FinalizarPedido">Finalizar Pedido</button>

            <button id="btn-adicionar-item" class="btn-AdicionarPedido" onclick="adicionarItem()">Adicionar item</button>



           

        </div>

        <button id="btn-voltar" style="display: none;">Voltar 👈</button>
            }
    </div>

    </div>


    <script>

        var categorias = document.getElementsByClassName("categoria");
        var produtos = document.getElementsByClassName("produtos");
        var btnVoltar = document.getElementById("btn-voltar");
        var tabelaPedidos = document.getElementById("tabela-pedidos");
        var telaFinalizarPedido = document.getElementById("FinalizarPedido");

        for (var i = 0; i < categorias.length; i++) {
            categorias[i].addEventListener("click", function () {
                ocultarCategorias();
                mostrarProdutos(this.nextElementSibling);
                mostrarBotaoVoltar();
            });
        }

        btnVoltar.addEventListener("click", function () {
            mostrarCategorias();
            ocultarProdutos();
            ocultarBotaoVoltar();
        });

        function mostrarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "block";
            }
        }

        function ocultarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "none";
            }
        }



        function mostrarProdutos(produtosCategoria) {
            produtosCategoria.style.display = "block";
        }

   

        function ocultarTabela() {
            document.getElementById("FinalizarPedido").style.display = "block";
            document.getElementById("TabelaPedido").style.display = "none";
        }

        function ocultarTabelaPedidos() {
            tabelaPedidos.style.display = "none";
        }


        telaFinalizarPedido.addEventListener("click", function () {
            ocultarTabelaPedidos();
        });

        btnVoltar.addEventListener("click", function () {
            mostrarCategorias();
            ocultarProdutos();
            ocultarBotaoVoltar();
            ocultarTabelaPedidos();
        });

        function ocultarBotaoVoltar() {
            btnVoltar.style.display = "none";
            telaFinalizarPedido.style.display = "none";
        }

        function ocultarTabela() {
            var tabelaProdutos = document.querySelector(".produtos");
            tabelaProdutos.style.display = "none";
        }

        function ocultarTabela() {
            
            $(".produtos").hide();

            
            $("#FinalizarPedido").show();
        }


        function exibirProdutoSelecionado(idProduto) {
    var quantidade = document.querySelector("select").value;
    var nomeProduto = document.getElementById("nome-produto-" + idProduto)?.textContent;
    var precoProduto = parseFloat(document.getElementById("preco-produto-" + idProduto)?.textContent);
    var precoAnterior = 0;
    var index = carrinho.findIndex(item => item.proID === idProduto);
    if (index !== -1) {
        precoAnterior = carrinho[index].precoProduto;
    }

    adicionarAoCarrinho(idProduto, precoProduto, nomeProduto, precoAnterior);

    var produtoSelecionado = document.getElementById("produto-selecionado");
    var html = "";
    for (var i = 0; i < carrinho.length; i++) {
        var item = carrinho[i];
                html += "<div>" + item.nomeProduto + " x " + quantidade + " = R$" + (item.precoProduto * quantidade).toFixed(2) + "<button onclick='removerItemDoCarrinho(" + i + "); event.preventDefault();'>X</button></div>";


    }
    produtoSelecionado.innerHTML = "Produtos selecionados: " + html;
}




        function removerItemDoCarrinho(index) {
            carrinho.splice(index, 1);
            salvarNoLocalStorage("carrinho", carrinho);
            exibirCarrinho();
        }

        function exibirCarrinho() {
    var produtoSelecionado = document.getElementById("produto-selecionado");
    var html = "";
    for (var i = 0; i < carrinho.length; i++) {
        var item = carrinho[i];
        html += "<div>" + item.nomeProduto + " x " + item.quantidade + " = R$" + (item.precoProduto * item.quantidade).toFixed(2) + "<button onclick='removerItemDoCarrinho(" + i + "); event.preventDefault();'>Excluir</button></div>";
    }
    produtoSelecionado.innerHTML = "Produtos selecionados: " + html;
}







        var btnAdicionarItem = document.getElementById("btn-adicionar-item");

        btnAdicionarItem.addEventListener("click", function () {
            document.getElementById("FinalizarPedido").style.display = "none";
            document.getElementById("produtoscat@item.CategoriaProduto").style.display = "block";
        });

        var carrinho = [];

        function salvarNoLocalStorage(nome, valor) {
            localStorage.setItem(nome, JSON.stringify(valor));
        }

        function lerDoLocalStorage(nome) {
            return JSON.parse(localStorage.getItem(nome));
        }





        function adicionarAoCarrinho(proID, precoProduto, nomeProduto, precoAnterior) {
    var item = {
        proID: proID,
        precoProduto: precoProduto,
        nomeProduto: nomeProduto,
        precoAnterior: precoAnterior
    };
    carrinho.push(item);
    salvarNoLocalStorage("carrinho", carrinho);
    console.log(carrinho);
}
      function ocultarTabelaPedidos() {
            var pedido = document.getElementById("FinalizarPedido");
            if (pedido) {
                pedido.style.display = "none";
            }
        }


        window.addEventListener("load", function () {
            carrinho = lerDoLocalStorage("carrinho") || [];
            atualizarCarrinho();
        });

        var btnAdicionarItem = document.getElementById("btn-adicionar-item");

        btnAdicionarItem.addEventListener("click", function () {
            document.getElementById("FinalizarPedido").style.display = "none";
            document.getElementById("produtoscat@item.CategoriaProduto").style.display = "block";
        });



    </script>

</body>
</html>
