<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CardapioV2</title>
<link rel="stylesheet" href="/css/style.css">
<script src="js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
@model CárdapioV3_Tunado.Models.ListCategoriaProduto
</head>
<body>

    <div class="box">




        <td valign="top">
            <table width="360" cellspacing="5" cellpadding="0">

                <tbody>
                    <tr>
                        <td valign="top" class="estilo_data"><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/testing-logo-design-template-ce84480d61b3db9a8e1522a99875832f_screen.jpg?ts=1615794516" width="210" height="140" border="0"></td>
                    </tr>
                </tbody>
            </table>

            <table width="300" border="0" align="center" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="center" class="estilo_pp" height="44"><p>Nunca Foi Tão Facil <span class="destaque1">Pedir Lanche</span>!</p></td>
                    </tr>
                </tbody>
            </table>
            <br />
            @foreach (var item in Model.Lista1.GroupBy(x => x.CategoriaID).Select(y => y.First()))
            {
                <div class="categoria" id="cat@item.CategoriaProduto">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="@item.CategoriaFoto" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b>@item.Nome</b></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_descricao">@item.CategoriaDescricao</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="produtos" id="produtoscat@item.CategoriaProduto">
                    @foreach (var itemProduto in Model.Lista2.Where(z => z.CategoriaProduto == @item.CategoriaID).ToList())
                    {
                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>@itemProduto.NomeProduto</b> R$<b>@itemProduto.PrecoProduto</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo">@itemProduto.DescricaoProduto</td>
                                </tr>
                            </tbody>
                        </table>
                <td>
                    <button class="btn-confirmar-pedido" onclick="ocultarTabela()">Confirmar Pedido 👌</button>





                    <form style="margin-left: 100px; margin-top: -30px;">
                        <select size="1">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                        </select>
                    </form>
                </td>
                <br>
                <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>
                    }

        </div>

        <div id="FinalizarPedido" style="display: none;">

            <div class="linha"></div>


            <div>
                <label class="nome" for="exampleFormControlInput1">Nome:</label>
                <input style="margin-left: 0px;" type="nome" class="form-control" id="exampleFormControlInput1" placeholder="José Oliveira">
            </div>

            <div>
                <label class="Endereco" for="exampleFormControlInput1">Endereço:</label>
                <input style="margin-left: 65px;" type="Endereco" class="form-control" id="exampleFormControlInput1" placeholder="R. Antônio C. Carvalho">
            </div>

            <div>
                <label class="NTelefone" for="exampleFormControlInput1">Numero de telefone:</label>
                <input style="margin-left: 125px;" type="NTelefone" class="form-control" id="exampleFormControlInput1" placeholder="79 9 9854-9746">
            </div>




            <h2 class="resumo">Resumo do pedido</h2>

            <div class="retangulo">

                <!--Conteudo do pedido AQUI-->



                <textarea style="width:100%" rows="2" name="obs" cols="30" class="estilo_novo_form" onfocus="if (this.value=='Alguma Observação? Ex.: Sem salada') this.value='';" onblur="if (this.value=='') this.value='Alguma Observação? Ex.: Sem salada'">Alguma Observação? Ex.: Sem salada</textarea>




            </div>



            <h2 class="pagamento">Formas de pagamento:</h2>

            <form class="quadradinho" style="margin-left: 100px; margin-top: -30px;">
                <select size="1">
                    <option value="01">Dinheiro</option>
                    <option value="02">Cartão</option>
                    <option value="03">Pix</option>
                </select>
            </form>

            <div class="linha3"></div>
            <button class="btn-FinalizarPedido">Finalizar Pedido</button>

            <button class="btn-AdicionarPedido">Adicionar item</button>


        </div>

        <button id="btn-voltar" style="display: none;">Voltar 👈</button>
            }
    </div>


    <script>

        var categorias = document.getElementsByClassName("categoria");
        var produtos = document.getElementsByClassName("produtos");
        var btnVoltar = document.getElementById("btn-voltar");
        var tabelaPedidos = document.getElementById("tabela-pedidos");
        var telaFinalizarPedido = document.getElementById("FinalizarPedido");

        for (var i = 0; i < categorias.length; i++) {
            categorias[i].addEventListener("click", function () {
                ocultarCategorias();
                mostrarProdutos(this.nextElementSibling);
                mostrarBotaoVoltar();
            });
        }

        btnVoltar.addEventListener("click", function () {
            mostrarCategorias();
            ocultarProdutos();
            ocultarBotaoVoltar();
        });

        function mostrarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "block";
            }
        }

        function ocultarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "none";
            }
        }



        function mostrarProdutos(produtosCategoria) {
            produtosCategoria.style.display = "block";
        }

        function ocultarTabela() {
            var produtosCategoria = document.getElementById("produtoscat@item.CategoriaProduto");
            var finalizarPedido = document.getElementById("FinalizarPedido");
            produtosCategoria.style.display = "none";
            finalizarPedido.style.display = "block";
        }

        function ocultarProdutos() {
            for (var i = 0; i < produtos.length; i++) {
                produtos[i].style.display = "none";
            }
            document.getElementById("FinalizarPedido").style.display = "block";
        }



       



        function enviarMensagem(id) {
            var numero = "5579998468046";
            var quantidade = document.getElementById("quantidade").value;
            var produto = document.getElementById(id).textContent.trim();
            var mensagem = "Olá, gostaria de pedir " + quantidade + " " + produto + "(s)";
            var link = "https://api.whatsapp.com/send?phone=" + numero + "&text=" + encodeURIComponent(mensagem);
            window.open(link, "_blank");
        }

       /*
        $(document).ready(function() {
    // Adiciona um evento de clique aos botões "Confirmar Pedido"
    $('.btn-confirmar-pedido').click(function() {
        // Oculta a tabela de produtos
        $('.produtos').hide();
        // Exibe a seção "Finalizar Pedido"
        $('#Finalizar-pedido').show();

        // Busca a quantidade selecionada no form anterior
        var quantidade = $(this).siblings('form').find('select').val();

        // Busca o nome e o preço do produto selecionado
        var nome = $(this).siblings('.estilo_titulo_preco').find('b:first').text();
        var preco = $(this).siblings('.estilo_titulo_preco').find('b:last').text();

        // Busca o ID da categoria do produto
        var categoriaID = $(this).closest('.produtos').attr('id').replace('produtoscat', '');

        // Exibe a quantidade, nome e preço do produto no resumo do pedido
        $('.retangulo').append('<div class="item-pedido"><span class="quantidade">' + quantidade + 'x</span> <span class="nome">' + nome + '</span> <span class="preco">' + preco + '</span></div>');
        
        // Insere o ID da categoria do produto em um input hidden
        $('<input>').attr({
            type: 'hidden',
            name: 'categoriaID',
            value: categoriaID
        }).appendTo('#Finalizar-pedido form');
    });
});


        var btnConfirmarPedido = document.getElementsByClassName("btn-confirmar-pedido")[0];
        var btnVoltar = document.getElementById("btn-voltar");

        btnConfirmarPedido.addEventListener("click", function () {
            clicar();
        });

        function clicar() {
            var a = document.getElementById('produtoscat@item.CategoriaProduto');
            var b = document.getElementById('FinalizarPedido');
            var c = document.getElementById('btn-voltar');
            c.style.display = 'block';
            a.style.display = 'none';

            if (a.style.display === 'none') {
                b.style.display = 'block';
            } else {
                a.style.display = 'none';
            }
        }

   */
    </script>



</body>
</html>


