
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardapioV2</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js//script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    @model List<CárdapioV3_Tunado.Models.Produto>


<div class="box">
    
    <!--Topo-->
    <td valign="top">
        <table width="360" cellspacing="5" cellpadding="0">

            <tbody>
                <tr>
                    <td valign="top" class="estilo_data"><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/testing-logo-design-template-ce84480d61b3db9a8e1522a99875832f_screen.jpg?ts=1615794516" width="210" height="140" border="0"></td>
                </tr>
            </tbody>
        </table>

        <table width="300" border="0" align="center" cellspacing="0">
            <tbody>
                <tr>
                    <td align="center" class="estilo_pp" height="44"><p>Nunca Foi Tão Facil <span class="destaque1">Pedir Lanche</span>!</p></td>
                </tr>
            </tbody>
        </table>
        
        <br/>

        <div id="teste" onclick="clicar3()" style="display:block;">

            <!--Categorias-->
            @foreach (var item in Model.GroupBy(x => x.CategoriaProduto).Select(y => y.First()))
            {
                <div id="cat@item.CategoriaProduto">
                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/3063/3063327.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="mostrarDiv('@item.CategoriaProduto')"> @item.CategoriaProduto</b></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_descricao">@item.CategoriaDescricao</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="div-mostrar2@item.CategoriaProduto" style="display: none;">
                    @foreach (var itemProduto in Model.Where(z => z.CategoriaProduto == @item.CategoriaProduto).ToList())
                    {
                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>@itemProduto.NomePruduto</b> R$<b>@itemProduto.PrecoProduto</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <table width="300" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="estilo">@itemProduto.DetalhesProduto</td>
                                </tr>
                            </tbody>
                        </table>

            <td>
                <button class="btn-confirmar">Confirmar Pedido 👌</button>

                <form style="margin-left: 220px; margin-top: -30px;">
                    <select size="1">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                    </select>
                </form>
            </td>
            <br>
            <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>
                    }
    </div>
            }
</div>



<script>

function clicar3() {
  var container = document.getElementById('teste');
  var divMostrar = document.getElementById('div-mostrar2');

  if (container.style.display == 'none') {
    container.style.display = 'block';
    divMostrar.style.display = 'none';
  } else {
    container.style.display = 'none';
    divMostrar.style.display = 'block';
  }
}


</script>
