@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CárdapioV3_Tunado.DAL;
@{CategoriaDAO categoria = new CategoriaDAO();}
<h1> Categorias </h1>
<br />
<td><a class="btn btn-outline-secondary" href="/Cardapio/Foda">Voltar</a></td>
<td><a class="btn btn-primary" href="/Categoria/Create">Nova Categoria</a></td>
<td><a class="btn btn-outline-dark" href="/Produto/Index?idEmpresa=">Produtos</a></td>
<td><a class="btn btn-outline-info" href="/ProdutoEmpresa/Index?idEmpresa=">ProdutoEmpresa</a></td>
<br />



<div id="divtabela">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">CategoriaID</th>
                <th scope="col">Nome da Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Link da Foto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.listaCategorias)
            {
                <tr>
                    <td>@item.CategoriaID</td>
                    <td>@item.Nome</td>
                    <td>@item.CategoriaDescricao</td>
                    <td>@item.CategoriaFoto</td>
                    <td><a class="btn btn-outline-warning" href="/Categoria/Atualizar/@item.CategoriaID">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
