@model CárdapioV3_Tunado.DAL.EmpresaDAO
@{
    CárdapioV3_Tunado.DAL.EmpresaDAO empresa = new CárdapioV3_Tunado.DAL.EmpresaDAO();
}

<h1>
    @foreach (var item in ViewBag.NomeEmpresa)
    {
        <p> @item.NomeEmpresa - Produtos</p>
    }
</h1>

<h2>
    @if (ViewBag.ProdutosBanco != null)
    {
        <p> @ViewBag.ProdutosBanco</p>
    }
</h2>


<br />

<td><a class="btn btn-primary" href="/Produto/Create">Novo Produto</a></td>
@if (User.IsInRole("master"))
{
    <td><a class="btn btn-outline-dark" href="/Categoria/Index?idEmpresa=">Categorias</a></td>
}


@if (ViewBag.ProdutoID !=null)
{
    <p class="alert-success">Produto criado com sucesso, ID do Produto:@ViewBag.ProdutoID</p>
}



<div id="divtabela">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ProdutoID</th>
                <th scope="col">Nome do Produto</th>
                <th scope="col">Descrição</th>
                <th scope="col">Nutrição do Produto</th>
                <th scope="col">Preço do Produto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.listaProdutosController)
            {
                <tr>
                    <td>@item.ProID</td>
                    <td>@item.NomeProduto</td>
                    <td>@item.DescricaoProduto</td>
                    <td>@item.NutricaoProduto</td>
                    <td>@item.PrecoProduto</td>
                    <td><a class="btn btn-outline-warning" href="/Produto/Atualizar/@item.ProID">Editar</a></td>
                    <td><a class="btn btn-outline-danger" href="/Produto/Apagar/@item.ProID">Deletar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>